/*---------------------------*/
/*    Auth Login & Signup    */
/*---------------------------*/
.auth-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.auth-container input {
    font-family: 'Raleway', sans-serif;
}

.auth-container .button {
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
    border: 2px solid #fefefe;
    background: none;
    color: #fefefe;
}