/* Customize Page */
.customize-container {
    padding-top: calc(32px + 1.2rem);
}
/* Mood and Activity button */
.customize-container button {
    outline: none;
    border: none;
    background: none;
    border: 2px solid #fefefe;
    border-radius: 2px;
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    width: 180px;
    padding: 0.8rem;
    margin: 0.8rem;
    cursor: pointer;
}

/* Customize Moods / Activities */
.customize-mood-container,
.customize-activity-container {
    padding-top: calc(32px + 1.2rem);
}

/* Holds mood and activity emojis */
.emojis-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 0, 0.4);
}