/*---------------------------*/
/*       Customize Page      */
/*---------------------------*/
.customize-container {
    padding-top: calc(32px + 1.2rem);
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customize-container h1 {
    font-size: 2.2rem;
    padding: 0.6rem 0;
}
.customize-container p {
    font-size: 1.2rem;
    padding: 0.6rem 0;
}

/*---------------------------*/
/*        Preview Page       */
/*---------------------------*/
.preview-container {
    background-color: #fefefe;
    margin-top: 1.2rem;
    border-radius: 2px;
    padding: 0.8rem;
    width: 800px;
}
.preview-container h1 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.8rem;
    padding: 0.6rem;
}
/* Emojis and add one button container */
.preview-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}
.preview-main .emojis-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.preview-main .emojis-container p {
    cursor: pointer;
    font-size: 2.2rem;
}
/* Add one button */
.preview-main button {
    outline: none;
    border: none;
    border: 2px solid #623AA2;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.8rem;
    margin: 0 0.8rem;
    background-color: #623AA2;
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    width: 120px;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .preview-main button:hover {
        background-color: #F97794;
        border-color: #F97794;
    }
    .preview-main button:active,
    .preview-main button:focus {
        outline: none;
    }
/* Single emoji */
.emojis-container .emoji-div p {
    padding: 0.6rem;
}

/*---------------------------*/
/*         Edit Modal        */
/*---------------------------*/
.edit-emoji-modal {
    /* background-color: skyblue; */
    background-color: #fefefe;
    height: 400px;
    width: 420px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
}
.edit-emoji-modal .edit-container,
.edit-emoji-modal .no-edit-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Title */ 
.edit-emoji-modal .edit-container .top,
.edit-emoji-modal .no-edit-container .top {
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.8rem;
}
    .edit-emoji-modal .edit-container .top .exit,
    .edit-emoji-modal .no-edit-container .top .exit {
        cursor: pointer;
    }
/* Body */
.edit-emoji-modal .no-edit-container .body {
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /* Emoji name */
    .edit-emoji-modal .no-edit-container .body p {
        height: 40%;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.7);
    }
    /* Huge emoji */
    .edit-emoji-modal .no-edit-container .body .text {
        font-size: 6rem;
        height: 60%;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 1);
    }
.edit-emoji-modal .no-edit-container .bottom {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .edit-emoji-modal .no-edit-container .bottom p {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.6);
    }
/* Form */
.edit-emoji-modal .edit-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78%;
}
    .edit-emoji-modal .edit-container form p {
        font-size: 6rem;
        text-align: center;
        height: 58%;
        display: flex;
        align-items: center;
    }
    /* Name */
    .edit-emoji-modal .edit-container form input[type='text'] {
        outline: none;
        border: none;
        background: none;
        font-family: 'Raleway', sans-serif;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        width: 30%;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        padding: 0.6rem;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .edit-emoji-modal .edit-container form input[type='text']:focus {
            color: #F97794;
        }
    .edit-emoji-modal .edit-container form .button-container {
        display: flex;
        margin: 0.8rem 0 0.2rem 0;
    }
        /* Buttons */
        .edit-emoji-modal .edit-container form .button-container input {
            outline: none;
            border: none;
            border: 2px solid #623AA2;
            background-color: #623AA2;
            font-size: 1rem;
            font-family: 'Raleway', sans-serif;
            padding: 0.8rem;
            margin: 0.8rem;
            width: 120px;
            border-radius: 2px;
            color: #fefefe;
            cursor: pointer;
            -moz-transition: 0.2s all;
            -ms-transition: 0.2s all;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }
        .edit-emoji-modal .edit-container form .button-container input:hover {
            background-color: #F97794;
            border-color: #F97794;
        }
        /* Cancel button */
        .edit-emoji-modal .edit-container form .button-container .cancel {
            background: none;
            color: #623AA2;
        }
        .edit-emoji-modal .edit-container form .button-container .cancel:hover {
            background-color: rgba(98, 58, 162, 0.2);
            border-color: #623AA2;
        }
/* Trashcan button */
.edit-emoji-modal .edit-container .bottom {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.8rem;
}
    .edit-emoji-modal .edit-container .bottom button {
        outline: none;
        border: none;
        background: none;
        color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .edit-emoji-modal .edit-container .bottom button:hover {
            color: rgba(255, 0, 0, 0.8);
        }

/*---------------------------*/
/*       Customize Form      */
/*---------------------------*/
.customize-form-container {
    padding-top: calc(32px + 1.2rem);
}
/* Holds mood and activity emojis */
.customize-form-container .emojis-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}
.customize-form-container .emojis-container p {
    cursor: pointer;
}

/*---------------------------*/
/*      Submission Page      */
/*---------------------------*/
.customize-submit-container {
    padding-top: calc(32px + 1.2rem);
}


/*---------------------------*/
/*         Responsive        */
/*---------------------------*/

@media screen and (max-width: 800px) {
    .preview-container {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    .preview-container {
        width: 92%;
        padding: 0.6rem;
        margin-top: 0.6rem;
    }
        .preview-container:last-child {
            margin-bottom: 0.6rem;
        }
    .preview-container h1 {
        font-size: 1.4rem;
        padding: 0.2rem;
    }
    .preview-main {
        flex-direction: column;
    }
    .preview-main .emojis-container {
        width: 100%;
    }
        .preview-main .emojis-container .emoji-div p {
            padding: 0.2rem;
        }
    .preview-main button {
        margin: 0.8rem;
    }
}