/*---------------------------*/
/*         Dashboard         */
/*---------------------------*/
.dashboard-container {
    padding-top: calc(32px + 1.2rem);
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-container .title {
    display: flex;
    font-size: 1.2rem;
}
.dashboard-container select {
    outline: none;
    border: none;
    width: 180px;
    background: none;
    color: #fefefe;
    font-size: 2.2rem;
    font-family: 'Raleway', sans-serif;
}



/*---------------------------*/
/*     Activities By Mood    */
/*---------------------------*/
.activities-by-mood-container .title {
    display: flex;
}