/*---------------------------*/
/*         Dashboard         */
/*---------------------------*/
.dashboard-container {
    padding-top: calc(32px + 1.2rem);
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-container .title-container {
  position: relative;
  display: flex;
  width: 360px;
}
.dashboard-container .title-container h1 {
  font-size: 2.2rem;
  padding: 0;
}

/*---------------------------*/
/*     Data Visualization    */
/*---------------------------*/
.moods-by-year-container,
.month-moods-container,
.moods-per-month-container,
.activities-by-mood-container {
    width: 900px;
    background-color: #fefefe;
    color: rgba(0, 0, 0, 0.7);
    margin: 0.8rem 0;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
}
.moods-by-year-container h3,
.month-moods-container h3,
.moods-per-month-container h3,
.activities-by-mood-container .title h3 {
    font-size: 1.6rem;
    margin: 0.8rem;
}

/*---------------------------*/
/*     Activities By Mood    */
/*---------------------------*/
.activities-by-mood-container .title {
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    align-items: center;
}

/*---------------------------*/
/*      Recharts Styles       */
/*---------------------------*/
.custom-tooltip .label {
    font-size: 1rem;
    background-color: #fefefe;
    padding: 0.6rem;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.7);
}
/* Legend line */
.recharts-legend-item {
    margin: 0.6rem;
}
/* Legend line text */
.recharts-legend-item-text {
    font-size: 1rem;
}
/* .recharts-surface {
    margin-left: -2%;
} */

/*---------------------------*/
/*         Responsive        */
/*---------------------------*/
@media screen and (max-width: 800px) {
    .moods-by-year-container,
    .month-moods-container,
    .moods-per-month-container,
    .activities-by-mood-container {
        width: 98%;
    }
    .moods-by-year-container h3,
    .month-moods-container h3,
    .moods-per-month-container h3,
    .activities-by-mood-container .title h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 430px) {
  .dashboard-container .title-container {
    width: auto;
  }
  .dashboard-container .title-container h1 {
    font-size: 1.4rem;
  }
  .dashboard-container .title h1 {
      font-size: 1.4rem;
  }
  .moods-by-year-container,
  .month-moods-container,
  .moods-per-month-container,
  .activities-by-mood-container {
      width: 98%;
  }
  .moods-by-year-container h3,
  .month-moods-container h3,
  .moods-per-month-container h3,
  .activities-by-mood-container .title h3 {
      font-size: 1rem;
  }
  .recharts-text,
  .recharts-cartesian-axis-tick-value {
      font-size: 0.8rem;
  }
}