/* Dropdown */
.dropdown-container {
  position: relative;
  right: 0;
  padding: 0 0.8rem;
  width: 94px;
  background: none;
  color: #fefefe;
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.dropdown-container-small {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
}

.dropdown-header {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;
  width: 120px;
  background-color: transparent;
}

.dropdown-header i {
  transition: 0.2s all;
}

.dropdown-header:hover > i {
  text-shadow: 0 0 10px rgba(254, 254, 254, 0.4);
}

.header-active {
  display: flex;
  justify-content: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #F97794;
  background: #fefefe;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
  transition: 0.2s all;
}

.header-active i {
  display: none;
}

.dropdown-items-container-hidden {
  height: 0;
  overflow: hidden;
}

.dropdown-items-container-auto {
  position: absolute;
  height: auto;
  z-index: 1;
  background-color: #fefefe;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
  transition: 0.2s all;
}

.dropdown-item {
  cursor: pointer;
  width: 120px;
  padding: 0.8rem;
  color: #623AA2;
  transition: color 0.2s;
}

.dropdown-item:hover {
  color: #F97794;
}

@media screen and (max-width: 430px) {
  .dropdown-container {
    font-size: 1.4rem;
  }
  .dropdown-header {
    width: 90px;
  }
  .dropdown-item {
    width: 90px;
    font-size: 1.4rem;
  }

  .dropdown-container-small {
    font-size: 1rem;
    width: 80px;
    right: 24px;
  }
  .dropdown-container-small .dropdown-header {
    width: 80px;
  }
  .dropdown-container-small .dropdown-item {
    font-size: 1rem;
    width: 80px;
  }
}
