/*---------------------------*/
/*    Mood & Activity Form   */
/*---------------------------*/

.mood-form,
.activity-form {
    padding-top: calc(32px + 1.2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - (32px + 1.2rem));
    justify-content: space-around;
}
.mood-form h1,
.activity-form h1 {
    color: #fefefe;
    font-size: 2.2rem;
    padding: 0.6rem 0;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.mood-form button,
.activity-form button {
    color: #fefefe;
    outline: none;
    border: none;
    background: none;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    padding: 0.6rem 0;
    cursor: pointer;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .mood-form button:disabled,
    .activity-form button:disabled {
        color: rgba(255, 255, 255, 0.4);
    }
    .mood-form button:active,
    .mood-form button:focus,
    .activity-form button:active,
    .activity-form button:focus {
        outline: none;
        border: none;
    }

/*---------------------------*/
/*     Individual Buttons    */
/*---------------------------*/

.mood-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.6rem 0;
}
.mood-button-container .mood-button {
    height: 160px;
    width: 160px;
    outline: none;
    border: none;
    background: none;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 0.6rem;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

}
    .mood-button-container .mood-button:focus,
    .mood-button-container .mood-button:active {
        outline: none;
        border: none;
    }
    .mood-button-container .mood-button:hover {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
/* Button that's been clicked on */
.mood-button-container .mood-button-active {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.mood-button-container .mood-button img {
    height: 76%;
    width: 76%;
}
.mood-button-container .mood-button p {
    color: #fefefe;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
  
/*---------------------------*/
/*       Responsiveness      */
/*---------------------------*/

@media screen and (max-width: 800px) {
    /* do this */
    /* .mood-form {
        height: inherit;
    } */
}

@media screen and (max-width: 430px) {
    /* do this */
    .mood-form,
    .activity-form {
        padding-bottom: 1.6rem;
    }
    .mood-form h1 {
        font-size: 1.8rem;
    }
    .mood-button-container .mood-button {
        height: 120px;
        width: 120px;
    }
}