/*---------------------------*/
/*    Mood & Activity Form   */
/*---------------------------*/
.mood-form,
.activity-form {
    padding-top: calc(32px + 1.2rem);
    /* padding-bottom: 1.6rem; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - (32px + 1.2rem));
    justify-content: space-around;
}
    .activity-form {
        height: 100%;
    }
.mood-form h1,
.activity-form h1 {
    color: #fefefe;
    font-size: 2.2rem;
    padding: 0.6rem 0;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.mood-form button,
.activity-form button {
    color: #fefefe;
    outline: none;
    border: none;
    background: none;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    padding: 0.6rem 0;
    cursor: pointer;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .mood-form button:disabled,
    .activity-form button:disabled {
        color: rgba(255, 255, 255, 0.4);
    }
    .mood-form button:active,
    .mood-form button:focus,
    .activity-form button:active,
    .activity-form button:focus {
        outline: none;
        border: none;
    }

/*---------------------------*/
/*     Individual Buttons    */
/*---------------------------*/
.mood-button-container,
.activity-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mood-button-container .mood-button,
.activity-button-container .activity-button {
    height: 160px;
    width: 160px;
    outline: none;
    border: none;
    background: none;
    margin: 0.8rem;
    border-radius: 2px;
    padding: 0.6rem;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .mood-button-container .mood-button:focus,
    .mood-button-container .mood-button:active,
    .activity-button-container .activity-button:focus,
    .activity-button-container .activity-button:active {
        outline: none;
        border: none;
    }
    .mood-button-container .mood-button:hover,
    .activity-button-container .activity-button:hover {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
/* Button that's been clicked on */
.mood-button-container .mood-button-active {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
/* Emojis */
.mood-button-container .mood-button p.emoji {
    font-size: 4rem;
}

.activity-button p.emoji {
    font-size: 2.6rem;
}

/*---------------------------*/
/*      Submission Page      */
/*---------------------------*/
.submission-page {
    padding-top: calc(32px + 1.2rem);
    height: calc(100vh - (32px + 1.2rem));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fefefe;
}

.submission-page button {
    outline: none;
    border: none;
    border: 2px solid #fefefe;
    background: none;
    color: #fefefe;
    font-size: 1rem;
    border-radius: 2px;
    width: 220px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 0.8rem;
    margin-top: 0.8rem;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.submission-page button:hover {
    background-color: #fefefe;
    color: #f97794;
}
  
/*---------------------------*/
/*       Responsiveness      */
/*---------------------------*/
@media screen and (max-width: 800px) {
    .mood-form {
        height: 100%;
    }
}

@media screen and (max-width: 430px) {
    .mood-form,
    .activity-form {
        padding-bottom: 1.6rem;
    }
    .mood-form h1 {
        font-size: 1.8rem;
    }
    .mood-button-container .mood-button {
        height: 120px;
        width: 120px;
    }
}