@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:300');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: #323232;
  background-color: #fefefe;
  /* color: #fefefe; */
  /* background-color: #323232; */
}

h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  padding: 0;
  font-weight: 300;
  /* color: #fefefe; */
  color: #323232;
}

a,
a:visited {
  text-decoration: none;
}