/* TOP NAVIGATION */
.top-nav {
    /* background-color: rgba(0, 255, 0, 0.4); */
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    z-index: 11;
    border-bottom: 1px solid rgba(254, 254, 254, 0.22);
    position: fixed;
    color: #fefefe;
}

    .top-nav button {
        outline: none;
        border: none;
        cursor: pointer;
        background: none;
        color: #fefefe;
    }


/* SIDEBAR */
.navigation {
    /* background-color: rgba(0, 255, 0, 0.6); */
    background-color: #fefefe;
    /* box-shadow: 3px 0 10px rgba(0, 0, 0, 0.02); */
    top: calc(32px + 1.2rem);
    position: fixed;
    height: 100%;
    width: 164px;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    padding-top: 0;
    z-index: 10;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    overflow: hidden;
}

    .navigation a {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-top: 0.8rem;
        overflow: hidden;
        cursor: pointer;
    }

    .navigation p {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 0.8rem;
        overflow: hidden;
    }

.navigation-hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
}

    .navigation-hidden a,
    .navgiation-hidden p {
        overflow: hidden;
    }

@media screen and (max-width: 430px) {
    .navigation {
        width: 46px;
    }

    .navigation-hidden {
        width: 0;
    }

    .navigation a {
        justify-content: center;
    }

    .navigation p,
    .navigation-hidden p {
        display: none;
    }

}