/*---------------------------*/
/*        Splash Main        */
/*---------------------------*/
.splash-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Login and register button choices on splash page */
.splash-container .auth-choices {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56%;
}
    .splash-container .auth-choices a {
        display: inline-block;
        margin: 0.8rem 0;
    }
    .splash-container .auth-choices button {
        font-family: 'Raleway', sans-serif;
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 0.8rem;
        border-radius: 2px;
        width: 180px;
        cursor: pointer;
    }
    .splash-container .auth-choices button:focus,
    .splash-container .auth-choice button:active {
        outline: none;
        border: none;
    }
    .splash-container #button-login {
        border: 2px solid #fefefe;
        background: #fefefe;
        color: #623AA2;
        -moz-transition: 0.2s color;
        -ms-transition: 0.2s color;
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
    }
        .splash-container #button-login:hover {
            color: #F97794;
        }
    .splash-container #button-register {
        border: 2px solid transparent;
        background: none;
        color: #fefefe;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .splash-container #button-register:hover {
            text-shadow: 0 0 10px rgba(254, 254, 254, 0.4);
        }
/* Container holds github logo */
.splash-container #git {
    height: 22%;
    display: flex;
    align-items: center;
    bottom: 0;
}
.splash-container #git a {
    color: #fefefe;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .splash-container #git a:hover {
        color: #fefefe;
        text-shadow: 0 0 10px rgba(254, 254, 254, 0.4);
    }

/*---------------------------*/
/*    Auth Login & Signup    */
/*---------------------------*/
.auth-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-container form {
    background-color: #fefefe;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    /* height: 460px; */
    border-radius: 2px;
    /* margin-bottom: 0.8rem; */
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    height: 62%;
}
    /* Form header */
    .auth-container form h1 {
        /* background-color: skyblue; */
        height: 10%;
    }
    /* Contains text fields */
    .auth-container .input-container {
        /* background-color: salmon; */
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 60%;
    }
    .auth-container form input {
        outline: none;
        border: none;
        border: 2px solid #623AA2;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        padding: 0.8rem;
        width: 48%;
        border-radius: 2px;
        margin: 0.8rem 0;
        color: rgba(0, 0, 0, 0.6);
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .auth-container form input::placeholder {
            color: rgba(0, 0, 0, 0.6);
        }
        .auth-container form input:focus {
            border: 2px solid #F97794;
            color: #F97794;
        }
    /* Login Register buttons */
    .auth-container .submit-container {
        /* background-color: peru; */
        height: 20%;
    }
    .auth-container form .button {
        background-color: #623AA2;
        color: #fefefe;
        cursor: pointer;
        width: 200px;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .auth-container form .button:hover {
            background-color: #F97794;
            border-color: #F97794;
        }
    /* Error message container */
    .auth-container .auth-message-container {
        /* background-color: lawngreen; */
        height: 10%;
    }
    .auth-container .auth-message {
        background-color: rgba(255, 0, 0, 0.3);
        padding: 0.6rem;
        border-radius: 2px;
        font-size: 1rem;
    }
/* Account message */
.auth-container .account-message {
    font-size: 1rem;
    margin-top: 0.8rem;
    color: #fefefe;
    height: 16%;
    /* background-color: lightskyblue; */
}
.auth-container a {
    padding-bottom: 2.2px;
    color: #623AA2;
    border-bottom: 1px dotted #623AA2;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
    .auth-container a:hover {
        color: #F97794;
        border-bottom: 1px dotted #F97794;
    }

/*---------------------------*/
/*        Splash Title       */
/*---------------------------*/
.splash-title {
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .splash-title a,
    .splash-title a:hover {
        border: none;
    }
    .splash-title h1 {
        font-family: 'Patua One', cursive;
        font-size: 3.6rem;
        color: #ffffff;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
        .splash-title h1:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        }
    .splash-title p {
        font-size: 1.2rem;
        color: #ffffff;
    }

/*---------------------------*/
/*       Responsiveness      */
/*---------------------------*/
@media screen and (max-width: 800px) {
    .auth-container form {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    .auth-container form {
        width: 88%;
        height: 68%;
    }
    .auth-container .input-container {
        height: 50%;
    }
    .auth-container form input {
        width: 90%;
    }
    .auth-container .auth-message-container {
        height: 20%;
    }
    .splash-container .auth-choices {
        flex-direction: column;
    }
    .auth-container .account-message {
        height: 10%;
    }
}