.splash-container {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/backgrounds/background-warm.png');
}

.splash-container h1 {
    font-family: 'Patua One', cursive;
}

.splash-container button {
    font-family: 'Raleway', sans-serif;
}