.splash-container {
    height: 100vh;
    width: 100vw;
}

.splash-title h1 {
    font-family: 'Patua One', cursive;
    font-size: 3.6rem;
}

.splash-container button {
    font-family: 'Raleway', sans-serif;
}